/*ESTRUCTURA*/
*{
    box-sizing: border-box;
}
body{
    margin: 0 auto;
}
.row1{
    display: flex;
    position: relative;
    flex-wrap: wrap;
}
.column-nav{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
.column-2{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
}
.column-4{
    width: 30%;
    margin: 8px;
}
.column-3{
    width: 100%;
    display: flex;
    justify-content: center;    
}
.navbar-brand{
    margin: 10px;
    transition: background-color 0.3s ease-in-out; 
}
.navbar-brand:hover{
    background-color: rgb(255, 0, 0);
}
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.568);
}
.dropdown {
    position: relative;
    display: flex;
  }
  
  .dropdown-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    min-width: 160px;
    background-color: deeppink;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    top: 100%; 
    left: 0; 
  }
  
  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-decoration: none;
  }
  
  .dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
  }
  